
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eventos del Universo</title>
</head>
<body>
    @{
        var universeEventData = ViewData["UniverseEvent"] as _000universe.Models.ViewDataBagEvent; // Conversión para objectos
        var universeEventBag = ViewBag.UniverseEvent;
    }

    <h1>@ViewData["Title"]</h1>
    <p>Datos con ViewData</p>
    <table style="font-family: Arial">
        <tr>
            <td>Evento ID:</td>
            <td>@universeEventData.Id</td>
        </tr>
        <tr>
            <td>Nombre Del Evento: </td>
            <td>@universeEventData.EventName</td>
        </tr>
        <tr>
            <td>Año Del Evento: </td>
            <td>@universeEventData.EventYear</td>
        </tr>
    </table>
    <p>Datos con ViewBag</p>
    <table style="font-family: Arial">
        <tr>
            <td>Evento ID:</td>
            <td>@universeEventBag.Id</td>
        </tr>
        <tr>
            <td>Nombre Del Evento: </td>
            <td>@universeEventBag.EventName</td>
        </tr>
        <tr>
            <td>Año Del Evento: </td>
            <td>@universeEventBag.EventYear</td>
        </tr>
    </table>
    <footer>
        <p>@ViewBag.Footer</p>
    </footer>
</body>
</html>