@model List<_001_CNetFrame4MVCEntFram.Models.TableViewModels.UserTableViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href = '@Url.Content("~/User/Add/")'" value="Agregar Nuevo Usuario" />
    </div>
</div>
<br />
<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Edad</th>
            <th></th>
        </tr>
        @foreach (var oUser in Model)
        {
            <tr>
                <td>@oUser.Id</td>
                <td>@oUser.Email</td>
                <td>@oUser.Edad</td>
                <td>
                    <input onclick="userDelete(@oUser.Id);" type="button" value="Eliminar" class="btn btn-danger" />
                    <input onclick="document.location.href = '@Url.Content("~/User/Edit/" + oUser.Id)'" type="button" value="Editar" class="btn btn-warning" />
                </td>
            </tr>
        }
    </table>
</div>

<script>
    async function userDelete(id) {
        if (confirm("¿Está seguro de que desea eliminar este usuario?")) {
            url = "@Url.Content("~/User/Delete/")" + `${id}`;
            let enterResponse = await fetch(url, { method: "POST" });
            let enterJson = await enterResponse.text();
            console.log(enterJson);
            if (enterJson == 1) {
                alert("Usuario eliminado correctamente");
                document.location.href = "@Url.Content("~/User/")";
            } else {
                alert("Error al eliminar el usuario");
            }
        }
    }
</script>